<div id="screen">
	<h1>You FINISHED THE GAME</h1>
	<p>DEGAGE</p>
</div>
<map name="control" id="control">
	<area alt="Power" title="power" href="/" shape="poly" coords="64,11,59,20,59,27,65,30,146,28,151,22,151,18,151,15,145,8" />
</map>
