<div id="screen">
	<h1>You win</h1>
	<p>Press A to continue</p>
</div>
<map name="control" id="control">
	<area alt="A" title="a" href="/play/map" shape="poly" coords="410,519,406,526,406,537,407,548,411,555,414,560,419,564,431,568,438,568,448,563,456,557,463,549,464,533,461,526,458,520,449,512,440,507,428,507" />
	<area alt="Power" title="power" href="/" shape="poly" coords="64,11,59,20,59,27,65,30,146,28,151,22,151,18,151,15,145,8" />
</map>
