article{
width: 420px;
min-height: 573px;
margin-left: 26px;
margin-top: 27px;
float: left;
}



/************ BARRE DE NAVIGATION *********/

#breadcrumbs {
	margin-top : 5px;
}


#breadcrumbs a{
	color : #817b7b;
	font-size : 11px;
	text-decoration : none;
}

#breadcrumbs a:hover{
	color : #5F5A5A;
	font-size : 12px;
}

#breadcrumbs img{
	margin-left : 7px;
}


/************ MESSAGE *********/

#msg {
width : auto;
height : auto;
margin-left: 19px;
margin-right: 19px;
margin-top: 19px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
background-color : rgba(255,255,255,0.6);

}

#msg  .vert{
color : #92B93A;
font-weight : bold;

}

#msg  .orange{
color : #f9881a;
font-weight : bold;

}

/************ COLONNE 2 - PRODUIT *********/

#index {
width : 100%;
}
.englobe_produit{
margin: 0 auto;
width: 100%;
}

.produit{
float : left;
margin-bottom : 32px;
width : 193px;
margin-right: 2%;
}

.produit:last-child{
float : left;
margin-bottom : 32px;
width : 193px;
margin-right: 0px !important;
}

.produit_index {
margin-right : 0px;
margin-left : 0px;
}

.produit_index:nth-child(3n+2) {
margin-right: 2%;
margin-left: 2%;
}



.contenu_produit{
height : 206px;
width : 193px;
border : 1px solid #423d3d;
position : relative;
overflow: hidden;
}

.contenu_produit:first-child{
margin-left : 0px;
}

.contenu_produit h3{
font-size : 16px;
color : #423d3d;
margin : 0;
margin-left : 5px;
padding : 0;
}

.contenu_produit .prix{
font-size : 19px;
color : #cb2d18;
margin : 0;
margin-left : 5px;
padding : 0;
float : left;
}

.contenu_produit .etoiles{
float : right;
margin-right : 5px;
margin-top : 5px;
}

.contenu_produit_image {
height: 146px;
line-height: 146px;
vertical-align: middle;
text-align: center;
}
.image_contenu_produit img{
vertical-align: middle;
}

.liens_produit{
clear : left;
width: 100%;
}

.liens_produit div{
height : 33px;
margin-top : 3px;
margin-left : 8px;
width : 100%;
}

.liens_produit div:nth-child(2){
margin-left : 12px;
}

.liens_produit img{
margin-right : 5px;
float : left;
}

.liens_produit p{
height : 33px;
margin : 0;
padding : 0;
float : left;
margin-left : 8px;
}

.liens_produit a{
text-decoration : none;
color : #423d3d;
line-height : 33px;
vertical-align : middle;
}

.liens_produit a:hover{

font-weight: bold;
}

/************ COLONNE 2 - BOUTIQUE *********/

.largeur_article {
width : 605px;
}

.boutique{
	width : 605px;
}

.produit_boutique{
position: relative;
overflow: hidden;
height : 161px;
width : 605px;
border : 1px solid #423d3d;
margin-bottom: 10px;
}

.contenu_produit_boutique {
width : 250px;
float: left;
padding-left: 5px;
padding-bottom: 5px;
}

.contenu_produit_boutique  h3{
padding-right : 15px;
}

.contenu_produit_boutique  a:hover{
color: #cb2d18;
}

.contenu_produit_boutique a {
color: #761E88;
text-decoration: none;
}


.produit-action{
width : 190px;
float : left;
}

.image_boutique {
width : 160px;
height: 158px;
float: left;
text-align: center;
line-height: 158px;
vertical-align: middle;
}

.image_boutique img{
text-align: center;
line-height: 158px;
vertical-align: middle;

}

.contenu_produit_boutique h3 {
font-size : 18px;
font-family : Myriad Pro;
margin-top: 15px;
margin-bottom: 5px;
}

.contenu_produit_boutique .etoiles {
float : left;
}

.contenu_produit_boutique p {
float : left;
font-size : 10px;
}

.point-fidelite{
width : 100px;
float : left;
text-align: center;
margin-top: 8px;
height: 92px;
vertical-align: middle;
background : url(../image/rond.png) center top no-repeat;
}

.point-fidelite p{
margin-top : 13px;
font-weight: bold;
}

.point-fidelite p:nth-child(2){
font-size : 9px;
font-weight : normal;
margin-top: -15px;
}

.prix-stock {
width : 170px;
float : left;
line-height: 0px;
text-align : right;
margin-top: -7px;
}

.produit_boutique .liens_produit div{
margin-top: 0px;
line-height: 15px;
height: 25px;
margin-left: 33px;
text-align : right;
}

.produit-action .liens_produit{
padding-top: 0px;
}

.produit-action .liens_produit p{
height: 20px;
}


.produit-action  .liens_produit a {
    text-decoration: none;
    color: #423D3D;
    line-height: 15px;
    vertical-align: middle;
	font-size: 15px;
}

.prix-stock p:first-child {
font-size: 22px;
padding-right: 5px;
}

.prix-stock .prix {
font-size: 14px;
font-weight : bold;
color: #cb2d18;
padding-right: 5px;
line-height: 8px;
}

.prix-stock .vert {
font-size: 21px;
color : #92B93A;
font-weight : bold;
padding-right: 5px;
padding-top: 0px;
}

.prix-stock .orange{
font-size: 21px;
color : #f9881a;
font-weight : bold;
line-height: 20px;
margin-bottom: 0px;
margin-top: 5px;
padding-right: 5px;
}

.trier p {
   color: #817b7b;
    font-size: 13px;
	text-align: right;
	font-weight: 600;
}


.trier p a{
   color: #817b7b;
    font-size: 13px;
    text-decoration: none;
	font-weight: 200;
}

.trier p a:hover{
	color : #5F5A5A;
	font-size : 14px;
}

/************ COLONNE 2 - FICHE PRODUIT *********/

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}


/*

for zoom animation
uncomment this part if you haven't added this code anywhere else

*/


.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}



#fiche_produit{
width: 615px;
height: auto;
position: relative;
overflow: hidden;
}

#fiche_produit h3 {
background-color : rgba(210,39,31,0.4);
text-indent: 5px;
padding-top : 3px;
padding-bottom : 3px;
}

.image_fiche_produit{
float: left;
width: 395px;

}

.fiche-produit-action{
float: right;
width: 200px;
line-height: 12px;
}

.fiche-produit-action p{
line-height: 8px;
}


#fiche_produit .orange{
font-size: 21px;
color : #f9881a;
font-weight : bold;
margin-bottom: 20px;
margin-top: 20px;
padding-right: 5px;
}

.contenu_fiche_produit{
clear: both;
}

.fiche-produit-prix-stock {
line-height: 13px;
text-align : right;
padding-right: 10px;
}

.fiche-produit-prix-stock p:first-child {
font-size: 22px;
padding-right: 5px;
margin-top:25px;
}

.fiche-produit-prix-stock .prix {
font-size: 14px;
font-weight : bold;
color: #cb2d18;
padding-right: 5px;
}

.fiche-produit-prix-stock .vert {
font-size: 21px;
color : #92B93A;
font-weight : bold;
padding-right: 5px;
padding-top: 5px;
}

.fiche-produit-prix-stock .orange{
font-size: 21px;
color : #f9881a;
font-weight : bold;
line-height: 20px;
margin-bottom: 0px;
margin-top: 5px;
padding-right: 5px;
}

.fiche-produit-prix-stock input[type=checkbox] {
	width: 20px !important;
	height: 12px;
}

.fiche-produit-point-fidelite{
width : 191px;
height : 121 px;
border : 1px solid #a6a1a1;
text-align: center;
font-size : 12px;
line-height: 10px;
margin-top : 20px;
}

.fiche-produit-point-fidelite p:nth-child(2){
color : #7ba126;
font-size : 24px;
line-height: 20px;
}

#quantite input  {
width : 50px;
}

.presentation_produit{
width : 191px;
height : 50px;
text-indent: 0px !important;
margin-top : 0px !important;
font-size : 16px!important;
background : #fff url("../image/icone_bag.gif") -1% -2% no-repeat !important;
cursor: pointer;
border: none !important;
color: #423d3d !important;
}

.presentation_produit_associe {
    background: #fff url("../image/icone_bag.gif") no-repeat scroll 7% 5% !important;
    border: medium none !important;
    color: #423d3d !important;
    cursor: pointer;
    font-size: 16px !important;
    height: 50px;
    margin-top: 0 !important;
    text-indent: 21px !important;
    width: 191px;
}

.boutique_produit {
    background: #fff url("../image/icone_bag_petit.png") no-repeat scroll -1% -2% !important;
    border: medium none !important;
    color: #423d3d !important;
    font-size: 15px !important;
    height: 23px !important;
    margin-left: 39px !important;
    margin-top: 0 !important;
    text-indent: 13px !important;
    width: 140px !important;
}



#quantite input[type=submit]  {
width : 179px;
height : 50px;
font-size : 15px;
text-indent: 32px;
margin-top : 10px;
background : #d2d4d5 url("../image/icone_bag.gif") 15% 40% no-repeat ;
cursor: pointer;
border: #aba4a4 1px solid;
}

#quantite input[type="submit"]:hover{
    background: rgba(210, 39, 31, 0.4) url("../image/icone_bag.gif") no-repeat scroll 12% 40%;
	font-weight: 700;
}


.image_fiche_produit .etoiles p:first-child{
float : left;
margin-right : 10px;
}

.image_fiche_produit .etoiles img{
float : left;
margin-top : 16px;
}

.nbre_commentaires{
clear: left;
font-size: 12px;
}

/************ COLONNE 2 - BOITE D'ONGLET *********/

#tabbed_area{
padding-top: 20px;
}

.content{
border: #aba4a4 1px solid;
height: auto;
padding: 10px;
margin-bottom: 30px;
}

#content_1{
font-size: 12px;
}


#content_1 ul li{
list-style: square;
}

#content_1 em{
text-decoration : underline;
}


#content_2{
display:none;
}

ul.tabs {
    margin:0px; padding:0px;

}

ul.tabs li {
    list-style:none;
    display:inline;
}

ul.tabs li a {
    background-color:#ded9d9;
    color:#cb2d18;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:20px;
    font-family:Myriad pro;
	font-style: italic;
    text-transform:uppercase;
    border: #aba4a4 1px solid;
}

ul.tabs li a:nth-child(2) {
     padding:8px 20px 8px 20px;
}

ul.tabs li a:hover {
    background-color : #423d3d;
	color : white;
	font-style: normal;
    border-color:#2f343a;
}

ul.tabs li a.active {
    background-color:#ffffff;
    border: #aba4a4 1px solid;
    border-bottom: 1px solid #ffffff;
}

ul.tabs li a.active:hover {
	color : #423d3d;
}
ul.tabs
{
    margin:0px; padding:0px;
    margin-top:6px;
    margin-bottom:8px;
}

/************ COLONNE 2 - PRODUITS ASSOCIES *********/

h4{
color: #cb2d18;
font-style : italic;
padding-bottom: 5px;
border-bottom: 1px solid #ec998f;
width : 98%;
}

/************ COLONNE 2 - VOTRE MAGASIN *********/

#votre-magasin {
width : 605px;
margin-bottom : 100px;
}

.right h3 {
font-size : 25px;
}
.right span {
color: #cb2d18;
}

.formulaire {
float : left;
}

.formulaire_profil{
float : none;
}

.right {
float : right;
}

.formulaire textarea{
width : 308px;
height : 130px;
margin-bottom : 20px;
margin-top : 5px;
border : 1px solid #bababa;;
}

.formulaire input{
width : 579px;
height : 35px;
margin-bottom : 20px;
margin-top : 5px;
border : 1px solid #bababa;
}

.formulaire input[type=submit]{
width : 150px;
height : 55px;
margin-bottom : 20px;
margin-top : 5px;
background-color : #cb2d18;
color : white;
}

.formulaire p{
color : #cb2d18;
margin-top : 0px;
}


.formulaire label {
color: #423d3d;
border-top : 1px dotted #cb2d18;
}

.formulaire label span{
color: #cb2d18;
font-size : 18px;
}

.enregistrez-vous {
margin-right: 7px;
background-color: #FFF;
border: 1px solid #423d3d;
padding-left: 8px;
}

.connectez-vous {
background-color: #FFF;
border: 1px solid #423d3d;
padding-left: 8px;
}

.coordonnees{
width:40%;
}

/************ COLONNE UNIQUE - INSCRIPTION *********/

#colonne-unique {
padding : 22px;
width : 927px;
}

#colonne-unique .largeur_article {
width : 927px;
}

#colonne-unique form {
width : 450px;
}

#colonne-unique form p{
font-size : 12px;
}

#colonne-unique form p:first-child{
text-align : right;
margin-right : 50px;
}

#colonne-unique form a{
text-decoration : none;
color : #2672ec;
}

#colonne-unique .caracteristique input,
#colonne-unique .caracteristique textarea{
width : 488px;

}

#colonne-unique input,
#colonne-unique textarea{
width : 197px;

}



#colonne-unique #prenom,
#colonne-unique #nom,
#colonne-unique #mdp,
#colonne-unique #mdp2,
#colonne-unique #cp,
#colonne-unique #ville {
width : 196px;
}

#colonne-unique input[type=radio]{
margin: 0;
height: 10px;
width : 20px;
margin-bottom: 20px;
margin-left: 20px;
}

#colonne-unique  input[type="submit"] {
width : 200px;
}

#colonne-unique .right {
width : 475px;
background-color : #cb2d18;
color : white;
}

#colonne-unique .diminue-hauteur{
height: 356px;
}

#colonne-unique .right h3,
#colonne-unique .right p {
padding : 10px 10px 0 10px;
font-family : Myriad pro;
}

/************ COLONNE UNIQUE - CONNEXION *********/

.left p a{
text-decoration : none;
color : #e3e545;
}


#colonne-unique .left {
float: left;
width : 475px;
background-color : #cb2d18;
color : white;
}

.connexion form{
text-align : right;
}

.connexion form h4{
width : 450px;
text-align : right;
border : none;
}

.connexion #utilisateur,
.connexion #mdp {
width : 196px;
margin-left: 10px;
}

#colonne-unique .left h3,
#colonne-unique .left p {
padding : 10px 10px 0 10px;
font-family : Myriad pro;
}

.connexion #remember{
margin: 0;
height: 10px;
width : 20px;
margin-bottom: 20px;
margin-left: 20px;
}


/************ COLONNE UNIQUE - MOT DE PASSE OUBLIE *********/

#colonne-unique .mot-de-passe {
background-color : white;
text-align : left;
}

#mot-de-passe  {
text-align: left;
margin-left : 180px;
margin-top : 20px;
}

#mot-de-passe  input[type="submit"] {
width : 300px;
}

.info-mdp{
width : 927px;
text-align : center;
font-size : 16px;
}

/************ ADMIN - MENU DEROULANT *********/

#menu-accordeon {
z-index : 1000;
position: absolute;
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  margin-left: 697px;
  width: 250px;

}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#423d3d;
   margin-bottom:2px;
   border:solid 1px #333A40
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
   background: #999;
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {

   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}

#page-top {
width : 450px;
text-align : center;
}

#second-menu  a{
	float : left;
	border-left : 1px solid #9a9192;
	height : 25px;
	width : 182px ;
	background-color : #423d3d;
	margin-right : auto;
	margin-left: auto;
	text-align : center;
	line-height : 25px;
	vertical-align : middle;
	color : white;
	font-size : 12px;
	text-decoration: none;
}
/************ TABLEAU AFFICHAGE *********/
#tableau {
	width :100%;
	overflow: auto;
}

.tableau_admin  {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
	border-collapse:separate;
	border-spacing:0;
	margin:0 ;
	color:#000;
	float: left;
	margin-left: 3px;
	margin-top: 12px;
	}


.tableau_admin  a {
	color:#523A0B;
	text-decoration:none;
	border-bottom:1px dotted;
	}
.tableau_admin  a:visited {
	color:#444;
	font-weight:normal;
	}
.tableau_admin  a:visited:after {
	content:"\00A0\221A";
	}
.tableau_admin  a:hover {
	border-bottom-style:solid;
	}
.tableau_admin thead th,
.tableau_admin thead td,
.tableau_admin tfoot th,
.tableau_admin tfoot td {
	border:1px solid #523A0B;
	border-width:1px 0;
	background:#EBE5D9;
	}
#details_commande thead th,
#details_commande thead td,
#details_commande tfoot th,
#details_commande tfoot td	{
background-color: rgba(253, 228, 227, 0.5);
}

.tableau_admin th {
	font-weight:bold;
	line-height:normal;
	padding:0.25em 0.5em;
	text-align:left;

	}
.tableau_admin tbody th,
.tableau_admin td {
	padding:0.25em 0.5em;
	text-align:left;
	vertical-align:top;


}
	}
.tableau_admin tbody th {
	font-weight:normal;
	}
.tableau_admin tbody th a:link,
.tableau_admin tbody th a:visited {
	font-weight:bold;
	}
.tableau_admin tbody td,
.tableau_admin tbody th {
	border:1px solid #ede5e5;
	border-width:1px 0;
	}
.tableau_admin tbody tr.odd th,
.tableau_admin tbody tr.odd td {
	border-color:#EBE5D9;
	background:#F7F4EE;
	}
.tableau_admin tbody tr:hover td,
.tableau_admin tbody tr:hover th {
	background:#ffffee;
	border-color:#523A0B;
	}
.tableau_admin caption {
	font-family:Georgia,Times,serif;
	font-weight:normal;
	font-size:1.4em;
	text-align:left;
	margin:0;
	padding:0.5em 0.25em;
	}
.tableau_admin a{
text-decoration : none;
color : #CD1A0D;
}

/************ PERSONNALISATION TABLEAU D'AFFICHAGE *********/

.taille,
.tailleth {
  width: 250px; /* à modifier selon vos besoins */
}

.moyen {
    width: 72px;
}

.taille div{
  max-height: 150px; /* à modifier selon vos besoins */
  overflow: auto;
  text-overflow: ellipsis; /* pour le reste du monde */
}

.petit{
width : 35px;
}

/************ FILTRE D'AFFICHAGE *********/

.filtre a{
opacity : 0.2;
}

.filtre  a:hover{
opacity : 1;
}

.tableau_admin thead tr:first-child th{
border-bottom-style : none;
}
.tableau_admin thead tr:nth-child(2) th{
border-top-style : dotted;
}


/************ AJOUT BOUTONS ADMIN *********/

.bouton-ajout{
text-align : right;
}

.bouton-ajout a{
margin-left: 10px;
color : #7c7474;
text-decoration : none;
}

.bouton-ajout a:hover{
color : #cb2d18;
font-weight : bold;
}

.bouton-ajout img{
margin-left: 25px;
}

/************ PROFIL *********/

.informations-utilisateurs,
.profil,
.col1,
.col2,
.col3 {
float : left;
font-size : 14px;
}

.col1{
margin-right : 30px;
margin-left : 20px;
width : 80px;
font-weight : bold;
}

.col2 {
width : 210px;
}

.profil {
position : absolute;
right : 70px;
top : 80px;
margin-right : 30px;
}

.informations-utilisateurs{
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border: 1px solid #cb2d18;
padding : 10px;
width : 595px;
position : relative;
}

.clear{
clear: left;
}

/************ FORMULAIRE MODIFICATION PROFIL *********/

#modification-profil {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border: 1px solid #cb2d18;
padding : 15px;
width : 585px;
margin-top : 20px;
min-height : 900px;
}

#colonne-double #prenom,
#colonne-double #nom,
#colonne-double #mdp,
#colonne-double #mdp2,
#colonne-double #cp,
#colonne-double #ville {
width : 286px;
}

#colonne-double input[type=radio]{
margin: 0;
height: 10px;
width : 20px;
margin-bottom: 20px;
margin-left: 20px;
}

#colonne-double  input[type="submit"] {
width : 250px;
}

#colonne-double .profil2 {
float: right;
}

/************ PANIER *********/

.titre-panier {
background-color : #F12F25;
}

#colonne-unique #panier{
width : 927px;
}

#panier input {
width : 30px;
height : 26px;
}


.submit-panier{
width : 250px !important;
height : 45px !important;
margin-top : 30px !important;
margin-left: 70% !important;
font-size : 20px;
background-color : #F12F25 !important;
}

#colonne-unique #panier #reglement {
clear : left;
padding-top : 35px;
}

#colonne-unique #panier #reglement label {
margin-right  : 20px;
}

.tableau-panier {
clear : left;
}

#colonne-unique #mode-reglement{
padding-bottom : 15px;
}

#colonne-unique #bonachat{
width : 200px;
height : 20px;
}

.titre-quatre-produits{
width : 810px;
}

.montant_commande p {
    background-color: #ebe5d9;
    color: #000;
    height: 55px;
	line-height: 55px;
	vertical-align: center;
	text-align: center !important;
    padding: 5px;
	font-size: 16px !important;
	height: 55px;
    width: 250px;
	margin-left: 69% !important;
	border-top : #523a0b 1px solid;
	border-bottom : #523a0b 1px solid;
}

/************ PROFIL - ETAT DES COMMANDES *********/

.etat-commande{
background-color: rgba(253,228,227, 0.5);
padding: 8px;
margin-bottom : 20px;
height : 220px;
border: 1px solid #FCD8D6;
}

.etat-commande a{
color : #423D3D;
}

.etat-commande ul li{
list-style : square;
}

.etat-commande img{
margin-right : 10px;
}

.etat-commande a:hover{
color : #CB2D18;
font-weight: bold;
}

.etat-commande p:nth-child(3),
.etat-commande p:nth-child(4){
float : left;
width : 50%;
color: red;
}

/************ ADMIN - AJOUT MEMBRE *********/
.ajout_membre{
    font-family: Georgia,Times,serif;
    font-size: 1.4em !important;
    font-weight: normal;
    margin: 0 !important;
    padding: 0.5em 0.25em;
    text-align: left !important;
	margin-bottom: 20px !important;
}


/************ ADMIN - GESTION PRODUITS *********/

.gestion_produit_qtite{
width: 150px !important;
}

.admin_prix_produit,
.gestion_produit_qtite{
font-size: 22px !important;
color: #cb2d18 !important;
margin-right: 0px !important;
text-align: right;
}

.categorie_produit {
    color: #737373 !important;
    font-size: 16px !important;
    margin-bottom: 40px !important;
    margin-right: 0 !important;
    text-align: right;
    width: 155px;
	height: 35px;
}


.point_fidelite{
font-size: 24px !important;
}

.admin_point_fidelite{
padding-top: 5px;
padding-bottom: 5px;
margin-top: 13px;
width: 196px;
}

.point_fidelite_phrase{
margin-right: 0px !important;
text-align: center !important;
line-height: 12px !important;
}

#descriptif{
height: 190px;
padding: 3px;
margin-top: 5px;
width: 385px !important;
background-color : rgba(123,161,38, 0.4);
}

.clearfix{
clear: both;
}

#points {
height: 24px;
width: 30px !important;
text-align: center;
font-size: 24px;
color: #7ba126;
font-size: 24px;
}

.admin_point_fidelite p:nth-child(2){
line-height: 0px !important;
}

.input_nombre{
height: 16px !important;
width: 32px !important;
margin: 0px !important;
}

.input_texte{
height: 16px !important;
margin: 0px !important;
}

.caracteristique p{
text-align: left !important;
font-size: 16px !important;
}


#admin_gestion_produit input[type="submit"] {
    background-color: #cb2d18;
    color: white;
    height: 55px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 200px;
}

.admin_fiche_produit_action {
margin-top: -34px;
padding-top: 25px;
}


#titre_produit { /* titre du produit */
    background-color: rgba(210, 39, 31, 0.6);
    font-size: 20px;
    text-indent: 10px;
	width: 610px !important;
}

#content_1 input {
border: none;
color: #cb2d18;
}

.admin_prix_stock {
padding-right: 0px;
}

#complement {
margin-bottom: 0px !important;
background-color: rgba(210, 39, 31, 0.4);
height: 44px;
width: 517px !important;
}

.id{
margin-left: 76px;
}

#photo {
margin-left: 5px;
  width: 305px !important;
  height: 21px;
}

/**************Statistiques ***************/
.statistiques {
width: 100%;
margin: 0 auto 30px auto;
}

.statistiques .block{
float: left;
width: 280px;
}

.statistiques .aside_block{
width: 64%;
}

.statistiques .stat p:first-child {
font-size: 40px !important;
font-weight: 800;
color:  #cb2d18;
line-height: 62px;
text-align: center;
}


.stat  p{
margin: 0;
padding: 0;
}

.stat  img{
margin: 5px 0 0 0;
}

.lien_stat {
	color: #423D3D;
	margin: 0 auto;
}

.lien_stat:hover .fa,
.lien_stat:hover  p:first-child,
.lien_stat:hover {
color:  white;
}

.lien_stat:hover .stat1 {
background-color:  #EE7E6F;
}

.lien_stat:hover .stat2 {
background-color:  #99CCFF;
}
.lien_stat:hover .stat3 {
background-color:  #B6BD3B;
}
.lien_stat:hover .stat4 {
background-color:  #FFBA53;
}



.stat {
    background-color: white;
    border: 1px solid #423d3d;
    height: 206px !important;
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	padding: 0 5px;
}

.fa {
	color: #423D3D;
}

.fa:hover{
	color: white;
}

.top{
margin-top: 30px;
}

.produit h3:first-child {
width: 100%;
height: 30px;
color: white;
text-align: center;
}


.result1 {
background-color:  #EE7E6F;
color: white;
}

.result2 {
background-color:  #99CCFF;
color: white;
}
.result3 {
background-color:  #B6BD3B;
color: white;
}
.result4 {
background-color:  #FFBA53;
color: white;
}


.fb_like_boutique {
margin-left: 103px;
}

.block_produit {
margin: 0 auto;
width: 91%;
}

.h4_stat {
text-align: center;
}

/** ADMIN - GESTION PROMO **/

#image_modifier {
 background:transparent url("../image/edit.gif") no-repeat 0 0;
 width: 21px !important;
 height: 24px !important;
 float: right;
}

.poubelle {
border : 0 !important;
}

.poubelle img{
margin-left: 2px;
}

.input_promo {
width: 35px !important;
}

#formulaire_promo .select  {
width: 30px !important;
}
.tableau_admin .select .selected{
font-weight: bold;
color: red;
}

/** LE CLUB **/

#club .club_titre{
font-family: 'Marck Script', cursive;
font-size: 33px;
text-align: center;
margin: 0;
padding: 0;
}

#club .club_titre .fa:first-child,
#club .club_titre .fa:nth-child(4){
font-size: 16px;
}

#club .club_titre .fa:nth-child(2),
#club .club_titre .fa:nth-child(3){
font-size: 22px;
}
#club .club_titre .fa:first-child,
#club .club_titre .fa:nth-child(3){
margin-right: 3px;
}

#club .slider_zone {
text-align: center;
margin: 0 auto;
}


#club {
background-color: white;
margin: 22px 0 0 0;
padding: 0 14px 14px 14px;
width: 570px;
 border: 1px solid #E4E4E4;
}

#club h3 {
font-family: 'Marck Script', cursive;
font-size: 25px;
}

#club p {
font-size: 15px;
}

#club .logo_club p {
text-align: center;
margin: 0 auto;
}

#club .logo_club a {
font-family: 'Marck Script', cursive;
font-size: 25px;
text-decoration: none;
color: #423D3D;
}

#club .logo_club a:hover {
font-size: 30px;
color: #CB2D18;
}


/** MOT DE PASSE OUBLIE **/

#reinitialiser_mdp h3 {
color: #CB2D18;
text-align: center;
}

/** MOT DE PASSE OUBLIE **/

.paypal {
text-align: center;
}

/** RECHERCHE **/

#rechercher .mot_cherche {
    color: #cb2d18;
    text-align: center;
}

/** DISCOUNT **/

.discount {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  padding: 4px 4px 1px 0;
  background-color: #C12126;
  left: -25px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.prix_barre {
text-decoration: line-through;
color: #761e88 !important;
}

.clignotant {
text-decoration: blink;
}

.clignotant span {
padding-right: 8px !important;
}
.deplacement {
text-indent: 37px !important;
}

.reduction p {
text-align: left;
}
