
/*****************************************************************************/
/*                            for 1170px or less                              */
/*****************************************************************************/
@media screen and (max-width:1170px) {
}
/*****************************************************************************/
/*                            for 980px or less                              */
/*****************************************************************************/
@media screen and (max-width:980px) {
		#colonne-unique .largeur_article {
			width: 100%;
		}

		#index {
			width: 100%;
		}

		header {
			width: 98%;
		}

		#admin_site{
		display: none;
		}

		#header_bar {
			font-size: 12px;
			width: 98%;
		}

		#principale {
			width: 98%;
		}


		#colonne-unique {
			padding: 0px;
			width: 98%;
		}

		#menu-accordeon {
			margin: 0 0 0 387px;
		}


		#logo img {
		max-width: 89px;
		}
		.colonne2 {
			float: none;
			width: 605px;
			margin: 0 auto;
		}
		.clearleft{
		clear : left;
		}

		/**** Panier ***/

		#colonne-unique #panier {
			width: 605px;
		}

		.submit-panier {
			margin-left: 59% !important;
		}

		/**** Magasin ***/

		.inactif {
		display : none;
		}

		#main-menu a {
			font-size: 13px;
			width: 93px;
		}
}
/*****************************************************************************/
/*                            for 700px or less                              */
/*****************************************************************************/
@media screen and (max-width:658px) {

		#main-menu {
			margin-left: 181px;
			margin-top: 1%;
			text-align: right;
			width: 0;
		}

		#nav_image {
			height: 36px;
			float: none;
		}


		#main-menu a {
			display: block;
			float: none;
			font-size: 14px;
			width: 189px;
			 height: 37px;
			line-height: 30px;
			border-top: 1px solid #9a9192;
			border-left: none;
		}

		#recherche {
			margin-top: 5px;
		}


		#label {
			width: -1px;
		}

		#recherche input {
			width: 154px;
		}

		header {
			height: 377px;
		}


		#header_droite {
		width: 67%;
		float: left;
		}


		#header_panier img,
		#header_connexion img {
			margin-top: 0px;
			max-height: 28px;
		}

		#header_bar_global {
			height: 28px;
		}

		#header_bar {
			font-size: 11px;
		}

		.fleche_slider{
			width : 5%;
			text-align: center;
		}

		#colonne-unique {
			width: 93%;
		}


		.produit:nth-child(2n+1) {
			margin-left: 0px;
			margin-right: 1%;
		}

		.produit:first-child {
			margin-right: 1%;
		}

		#colonne-unique form {
			width: 98%;
		}

		.colonne2 {
			width: 100%;
		}

		.boutique {
			width: 98%;
		}

		.produit_boutique {
			width: 98%;
		}

		.produit_boutique {
			max-width: 98%;
		}

		.contenu_produit_boutique {
			max-width: 43%;
		}

		.image_boutique ,
		.image_boutique a img {
			max-width: 24%;
		}

		.bouton-ajout img {
			margin-left: 0px;
		}



		#main-menu a {
			font-size: 14px;
			width: 112px;
		}
}
/*****************************************************************************/
/*                            for 480px or less                              */
/*****************************************************************************/
@media screen and (max-width:480px) {



		#colonne-unique #panier {
			width: 470px;
		}

		#main-menu {
			margin-left: 17px;
		}


		#header_bar {
			font-size: 9px;
		}

		#recherche input {
			width: 112px;
		}

		#recherche input[type="submit"] {
			background: #d2d4d5 url("../image/loupe.png") no-repeat scroll left center;
			color: #d2d4d5;
			width: 35px;
		}
		.bouton-ajout a {
			display: none;
		}

		.englobe_produit {
			margin: 0 auto;
			width: 193px;
		}

}
