<div id="screen">
	<h1>You don't have any pokemon yet ! Go catch'em</h1>
</div>
<map name="control" id="control">
	<area alt="Select" title="select" href="/play/map" shape="poly" coords="153,689,152,695,154,702,159,702,206,681,209,674,203,668,197,666" />
	<area alt="Power" title="power" href="/" shape="poly" coords="64,11,59,20,59,27,65,30,146,28,151,22,151,18,151,15,145,8" />
</map>
